.home {
  margin: 0 auto;
  max-width: 1500px;
  position: relative;
}
.home__container {
  position: relative;
}
.products {
  position: absolute;
  top: 40%;
}
.home__row {
  display: flex;
  z-index: 1;
  margin: 0 5px;
}

.home__banner {
  width: 100%;
  z-index: -1;
}
